body {
  margin: 0 auto;
  padding: 0 20px;
}

.container_chat{
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker_chat {
  background-color: #aec8e0;
}

.container_chat::after {
  content: "";
  clear: both;
  display: table;
}

.contact-avatar{
    display: inline-flex;
    width: 100%;
}
.cropped-avatar{
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;

      justify-content: center;
    align-items: center;
    display: inline-flex;
}

.avatar-image{
     width: auto;
    height: 100%;
}
.cropped-avatar-right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}


.cropped-avatar-left {
  float: left;
  margin-right: 20px;
  margin-left:0;
}

.time-left_chat {
  float: bottom-right;
  color: #999;
}

.time-right_chat {
  float: left;
  position: relative;
  color: #aaa;
}


/* The sidebar menu */
.sidenav {
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 15%;

  padding-top: 10px;
  padding-bottom: 10px;


  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 15%;
  min-width: 100px;
  height: 55%;
  min-height: 200px;

  background: #001a33;

  margin: 1%;

}

/* The navigation menu links */
.sidenav a {
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 6px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav button {
background-color: transparent;
    border: transparent;
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 6px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.chat {
  height: 55%; /* Full-height: remove this if you want "auto" height */
   /* Set the width of the sidebar */
  min-height: 200px;

  position: absolute;/* Fixed Sidebar (stay in place on scroll) */

  z-index: 1; /* Stay on top */

  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  padding-bottom: 6px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 35%;
  min-width: 200px;
  margin: 1%;

  left: 30.5%;
}

.message-box {
   height: 9%;
   width: 50.5%;
   position: absolute;
   bottom: 5%;
   left: 16%;
   padding-top: 6px;
   padding-bottom: 6px;
   padding-right: 6px;

   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.message-input {
    width: 80%;
    height: 100%;
    padding-left: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
}

.send-button {
    float: right;
    border: none;
    background-image: url(https://image.flaticon.com/icons/svg/60/60525.svg);
    background-size: 100%;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.messages {
    height: 95%;
    width: 98%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
}

/* width */
.messages::-webkit-scrollbar {
  right: 26px;
  width: 20px;
}

/* Track */
.messages::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
.messages::-webkit-scrollbar-thumb {
  background: #001a33;
  border-radius: 10px;
}

.sidenav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
}

/* Handle */
.sidenav::-webkit-scrollbar-thumb {
  background: white;
}