/* Add a black background color to the top navigation */
.topnav {
  background-color: #001a33;
  overflow: hidden;
  align-ve
}

.topnav ul {
    margin: 15px;
    display: flex;
}

.topnav li {
    padding-left: 8%;
}

.nav-cropped{
    display: inline-block;
  position: relative;
  height: 150px;
  overflow: hidden;
}

.nav-cropped img{
    width: auto;
    height: 100%;
}

/* Style the links inside the navigation bar */
.topnav>ul>li>a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav>ul>li>a:hover {
  background-color: #f1f1f1;
  color: #001a33;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fff;
  color: white;
}