.card-parent{
    display:flex;
    justify-content: center;
    align-items: center;
}

.attributes-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.attributes-container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 300px;
  text-align: center;
    padding: 40px;
   width: 50%;
}

.profile-carousel-inner{
   display: inline-block;
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
  display: flex;
    justify-content: center;
    align-items: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  min-width: 500px;
  margin: 20px;
  text-align: center;
}

.cropped{
    display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;

      justify-content: center;
    align-items: center;
    display: inline-flex;
}

.profile-type-image{
    display: inline-block;
    max-height: 20px;

}

.profile-image{
    width: auto;
    height: 100%;
}

.title {
  color: grey;
  font-size: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;

}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-color: #FFF;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}