<script type="text/javascript"
        src="{{ url_for('static', filename='js/chat.js') }}"></script>

{% extends 'layout.html' %}
{% block body %}
    <!-- Sidebar -->


 <div class="sidenav">
     <div class="messages">
    {% for profile in profiles %}
        <a onclick="getChatMessages({{ profile.ProfileId }})">{{ profile.Name }}</a>

    {% endfor %}
         </div>
 </div>



<div class="chat">
    <!-- Page Content -->
    <div>
        <div class="messages" id="messages"></div>
    </div>


</div>

<div class="message-box">
        <!--<label for="fname">Message:</label><br>-->
        <input class="message-input" type="text" id="fname" name="fname">
        <button class="send-button" onclick="addChatMessage($('#fname').val())"></button>
</div>


{% endblock %}