{% extends 'layout.html' %}
{% block body %}
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
        <h3 class="w3-bar-item">Menu</h3>
        {% for item in orders %}
            <a href="#" class="w3-bar-item w3-button">{{ item.SecondProfileId }}</a>
        {% endfor %}
    </div>

    <!-- Page Content -->
    <div style="margin-left:28%">
    <h2>Messages</h2>

    <div class="container_chat" style="width:auto">
        <img src="/static/tv.jpg" alt="Avatar" style="width:100%;">
        <p>Hello. How are you today?</p>
        <span class="time-right_chat">11:00</span>
    </div>

    <div class="container_chat darker_chat" style="width:auto">
        <img src="/static/lada.jpg" alt="Avatar" class="right" style="width:100%;">
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left_chat">11:01</span>
    </div>

    <div class="container_chat" style="width:auto">
        <img src="/static/tv.jpg" alt="Avatar" style="width:100%;">
        <p>Sweet! So, what do you wanna do today?</p>
        <span class="time-right_chat">11:02</span>
    </div>

    <div class="container_chat darker_chat" style="width:auto">
        <img src="/static/lada.jpg" alt="Avatar" class="right" style="width:100%;">
        <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
        <span class="time-left_chat">11:05</span>
    </div>
    </div>>
{% endblock %}
