

{% extends 'layout.html' %}
{% block body %}

<script type="text/javascript"
        src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <!-- Sidebar -->
 <div class="sidenav">
     <div class="messages">
    {% for profile in profiles %}
         <div class="contact-avatar">
             <div class="cropped-avatar">
                       <img src="{{ profile.photo }}" alt="Avatar" class="avatar-image">
            </div>
            <button onclick="getChatMessages({{ profile.ProfileId }})">{{ profile.Name }}</button>
         </div>


    {% endfor %}
         </div>
 </div>



<div class="chat">
    <!-- Page Content -->
    <div>
        <div class="messages" id="messages"></div>
    </div>


</div>

<div class="message-box">
        <!--<label for="fname">Message:</label><br>-->
        <input class="message-input" type="text" id="message_text" name="fname">
        <button class="send-button" onclick="addChatMessage($('#message_text').val())">
        </button>


</div>


{% endblock %}