{% extends 'layout.html' %}

{% block body %}


<script type="text/javascript"
        src="{{ url_for('static', filename='js/profile.js') }}"></script>
<div class="card-parent">
    <!--          <h1>Profile</h1>-->
    <br>
    <div class="card">
        <div class="cropped" >
            <img  class="profile-image" src="{{ profile.photo }}"/>
        </div>

        <h1> {{profile.name}} </h1>

        {% if profile.profile_type == "car" %}
        <img class="profile-type-image" src="https://cdn3.iconfinder.com/data/icons/car-icons-front-views/480/Sports_Car_Front_View-512.png" >
        {% else %}
        <img class="profile-type-image" src="https://cdn1.iconfinder.com/data/icons/transportation-vehicles-2/128/steering-wheel-512.png" >
        {% endif %}
        <br>
        <div  class="description">
            <h3  contentEditable="true" id="profile_description" class="title">{{profile.description}} </h3>
        </div>
    </div>

    <div class="container">

        <div id="myCarouselProfile" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for photo in profile_photos %}
                {% if photo[0] == 0 %}
                <li data-target="#myCarouselProfile" data-slide-to="{{photo[0]}}" class="active"></li>
                {% else %}
                <li data-target="#myCarouselProfile" data-slide-to="{{photo[0]}}"></li>
                {% endif %}
                {% endfor %}
            </ol>

            <div class="carousel-inner profile-carousel-inner">


                <div class="add_profile_pic">
                    <button class="w3-button w3-circle"  onclick="$('#photo_to_be_added').show();">&plus;</button>
                    <input class="hidden_input" id="photo_to_be_added" type="text" style="display:none;">

                </div>
                <div class="remove_profile_pic">
                    <button class="w3-button w3-circle" onclick="removePhoto()">&times;</button>
                </div>

                {% for photo in profile_photos %}
                {% if photo[0] == 0 %}
                <div class="item active">
                    <img class="profile-image" src="{{photo[1]}}" alt="profile_pic {{photo[0]}}">
                </div>
                {% else %}
                <div class="item">
                    <img class="profile-image" src="{{photo[1]}}" alt="profile_pic {{photo[0]}}">
                </div>
                {% endif %}

                {% endfor %}

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarouselProfile" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarouselProfile" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="attributes-parent">
            <div class="attributes-container">
                <div class="description">
                    <h3>Features</h3>
                    {% for feature in features %}

                    <div class="chip">
                        {{feature}}
                        <span class="closebtn" onclick="removeFeature(this, '{{feature}}')">&times;</span>
                    </div>

                    {% endfor %}
                    <div class="add-chip">
                        <input class="hidden_input" id="feature_to_be_added" type="text" style="display:none;">
                        <span class="addbtn" onclick="$('#feature_to_be_added').show();">&plus;</span>
                    </div>
                </div>
            </div>

            <div class="attributes-container">
                <div class="description">
                    <h3>Preferences</h3>
                    {% for preference in preferences %}

                    <div class="chip">
                        {{preference}}
                        <span class="closebtn" onclick="removePreference(this, '{{preference}}')">&times;</span>
                    </div>

                    {% endfor %}

                    <div class="add-chip">
                        <input class="hidden_input" id="preference_to_be_added" type="text" style="display:none;">
                        <span class="addbtn" onclick="$('#preference_to_be_added').show();">&plus;</span>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
{% endblock %}
